<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="sfml_audio" version="2.5.1" targetFramework="native" />
  <package id="sfml_audio.redist" version="2.5.1" targetFramework="native" />
  <package id="sfml_graphics" version="2.5.1" targetFramework="native" />
  <package id="sfml_graphics.redist" version="2.5.1" targetFramework="native" />
  <package id="sfml_network" version="2.5.1" targetFramework="native" />
  <package id="sfml_network.redist" version="2.5.1" targetFramework="native" />
  <package id="sfml_system" version="2.5.1" targetFramework="native" />
  <package id="sfml_system.redist" version="2.5.1" targetFramework="native" />
  <package id="sfml_window" version="2.5.1" targetFramework="native" />
  <package id="sfml_window.redist" version="2.5.1" targetFramework="native" />
</packages>